.btn__wrapper {
  display: flex;
  justify-content: center;
}

.btn__wrapper button {
  margin: 0 15px;
}

.ant-radio-group {
  display: flex;
  justify-content: center;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}

.ant-form-item {
  display: flex;
  justify-content: flex-end;
}

.ant-table-cell a {
  margin-right: 15px;
}

h2 {
  display: flex;
  justify-content: center;
}
