.btn__wrapper,
.ant-radio-group,
.ant-form-item-control-input-content,
.spinner,
h2 {
  display: flex;
  justify-content: center;
}

.btn__wrapper button {
  margin: 0 15px;
}

.ant-form-item {
  display: flex;
  justify-content: flex-end;
}

.ant-table-cell a {
  margin-right: 15px;
}

.spinner {
  margin-top: 40px;
}
